<a href="https://colab.research.google.com/github/havaledar/ECON3740_F23/blob/main/W24_ECON3740_Lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [2]:
# !pip install gdown > /dev/null 2>&1
!pip install stargazer > /dev/null 2>&1


import gdown
import pandas as pd
import statsmodels.formula.api as smf
from stargazer.stargazer import Stargazer

# Question 1

## Reading data

In [3]:
url = 'https://drive.google.com/file/d/1FAfkh6Pr6J3CRCLs8ql8QMCa1309fcEU/view?usp=drive_link'
output_filename = 'ceosal.dta'
gdown.download(url, output_filename, fuzzy=True ,quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1FAfkh6Pr6J3CRCLs8ql8QMCa1309fcEU
To: /content/ceosal.dta
100%|██████████| 13.9k/13.9k [00:00<00:00, 25.2MB/s]

'ceosal.dta'

In [4]:
CEOSAL = pd.read_stata('/content/ceosal.dta', preserve_dtypes=False)

In [5]:
CEOSAL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175 entries, 0 to 174
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   salary    175 non-null    int64
 1   age       175 non-null    int64
 2   college   175 non-null    int64
 3   grad      175 non-null    int64
 4   comten    175 non-null    int64
 5   ceoten    175 non-null    int64
 6   sales     175 non-null    float64
 7   profits   175 non-null    int64
 8   mktval    175 non-null    float64
 9   comtensq  175 non-null    int64
 10  ceotensq  175 non-null    int64
 11  profmarg  175 non-null    float64
 12  nsal      175 non-null    float64
dtypes: float64(4), int64(9)
memory usage: 19.1 KB

## Filtering the data

In [6]:
CEOSAL = CEOSAL[CEOSAL['age'] >50]

## Salary ~ Sales

In [7]:
m1 = smf.ols('salary ~ sales', CEOSAL)

results_m1 = m1.fit()

## Salary ~ Sales + Market Value

In [8]:
m2 = smf.ols('salary ~ sales + mktval', CEOSAL)

results_m2 = m2.fit()

## Regression table

In [9]:
Stargazer([results_m1, results_m2])

# Question 2

## Salary ~ CEO Tenure + Sales + Market Value

In [10]:
m3 = smf.ols('salary ~ ceoten + sales + mktval', CEOSAL)

results_m3 = m3.fit()

## CEO Tenure ~ Sales + Market Value

In [11]:
m4 = smf.ols('ceoten ~ sales + mktval', CEOSAL)

results_m4 = m4.fit()

In [12]:
print(results_m4.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 ceoten   R-squared:                       0.019
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     1.264
Date:                Fri, 16 Feb 2024   Prob (F-statistic):              0.286
Time:                        13:22:11   Log-Likelihood:                -466.78
No. Observations:                 137   AIC:                             939.6
Df Residuals:                     134   BIC:                             948.3
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      8.5872      0.750     11.444      0.000       7.103      10.071
sales         -0.0002      0.000     -1.585      0.115      -0.001    5.75e-05
mktval         0.0002      0.000      1.134      0.259      -0.000       0.000
==============================================================================
Omnibus:                       51.179   Durbin-Watson:                   1.958
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              111.675
Skew:                           1.609   Prob(JB):                     5.62e-25
Kurtosis:                       6.034   Cond. No.                     1.28e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.28e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

## Residuals

In [13]:
CEOSAL['residuals'] = results_m4.resid

In [14]:
CEOSAL['residuals'].describe()

count    1.370000e+02
mean    -8.816954e-16
std      7.329537e+00
min     -8.662236e+00
25%     -5.317043e+00
50%     -1.675540e+00
75%      3.376666e+00
max      2.848864e+01
Name: residuals, dtype: float64

## Salary ~ Residuals

In [15]:
m5 = smf.ols('salary ~ residuals', CEOSAL)

results_m5 = m5.fit()

In [16]:
Stargazer([results_m3, results_m5])